<div class='d-flex flex-row justify-content-between'>
    <div class='d-flex flex-row mx-1'>
        <%= image_tag 'user_profile_picture.png', class: "img-thumbnail rounded-circle", style: "width: 2.5rem", alt: "User profile picture" %>
        <div class='d-flex flex-column mx-3 justify-content-center'>
            <small class='fw-bold' style='overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 10rem'>
                <%= liker.username %>
            </small>
        </div>
    </div>
    <%= link_to root_path, class: "btn btn-primary", style: 'text-decoration:none' do %>
        <small class='fw-bold text-white'>Follow</small>
    <% end %>
</div>
